bin/
.terraform
.vscode
pkg
src
._.DS_Store
.DS_Store
crash.log
error.txt
main.tf
main.tf_bkp
example.tf
fullmaintffile.txt
terraform.tfstate
terraform.tfstate.backup
Terraformbuildplanapply.sh
testlogfile
vars.tf